
.text{
  text-transform: uppercase; 
  background-image: linear-gradient(to right, #e81416, #ffa500, #faeb36, #79c314, #487de7, #4b369d, #70369d);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  font-family: "Papyrus",Arial, Helvetica, sans-serif;
  background-size: 300%;
  background-position: -100%;   
  animation: animatedText 5s infinite alternate-reverse;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  
}


@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}
.destext{
  color:#ff0000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url= ('https://blob.gifcities.org/gifcities/7QYZXBU4KD6EC2LB52RZ6DLVG5D6U6KS.gif');
    background-size: fill;
    
    height: 100vh;
    padding:0;
    margin:0;
}
a:hover {
  background-color: rgb(4, 0, 255);
    margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.loader {
    position: fixed;
    z-index: 99999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(61, 15, 75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 300px;
}

.loader.hidden {
    animation: fadeOut .2s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
h4 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(250, 20, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(25, 0, 255);
      display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
    background-color: aqua;
}
.cntr {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(250, 20, 20);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(25, 0, 255);
      display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
    background-color: aqua;
}