/* Basic Styling */

.text{
  text-transform: uppercase; 
  background-image: linear-gradient(to right, #e81416, #ffa500, #faeb36, #79c314, #487de7, #4b369d, #70369d);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 300%;
  background-position: -100%;   
  animation: animatedText 5s infinite alternate-reverse;
}


@keyframes animatedText{
  to{
    background-position: 100%; 
  }
}
.destext{
  color:#ff0000;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: url('https://hc-cdn.hel1.your-objectstorage.com/s/v3/9bcc2c93adbe3a03_bl__haj-spin.gif');
    background-size: fill;
    
    height: 100vh;
    padding:0;
    margin:0;
}
a:hover {
  background-color: rgb(0, 0, 0);
    margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.destextborder {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.loader {
    position: fixed;
    z-index: 99999999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut .05s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
}
